{
    "openapi": "3.0.0",
    "info": {
        "title": "client-api",
        "description": "用户后台接口",
        "contact": {
            "name": "范瑞鹏",
            "email": "fanruipeng@yunsom.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://client-app.yunsom.me/api",
            "description": "本地开发环境"
        },
        {
            "url": "http://client-app.yunsom.space/api",
            "description": "开发环境"
        }
    ],
    "paths": {
        "/app/last-version": {
            "get": {
                "tags": [
                    "应用版本更新"
                ],
                "summary": "查询最新应用版本信息",
                "operationId": "App\\Http\\Controllers\\App\\AppUpgradeController::appLastVersion",
                "parameters": [
                    {
                        "name": "os",
                        "in": "query",
                        "description": "操作系统类型 1 Android 2 iOs",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "app",
                        "in": "query",
                        "description": "应用类型 1 必择 2 看板",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/LastedVersionResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户登录",
                "operationId": "App\\Http\\Controllers\\Auth\\LoginController::login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "登录成功，可能出现的业务状态码 002，101",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/LoginResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户登出",
                "operationId": "App\\Http\\Controllers\\Auth\\LoginController::logout",
                "responses": {
                    "200": {
                        "description": "登录成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/LoginResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/password": {
            "put": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户修改密码",
                "operationId": "App\\Http\\Controllers\\Auth\\LoginController::updatePassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/OnlyIdResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset-password": {
            "put": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户忘记密码",
                "operationId": "App\\Http\\Controllers\\Auth\\LoginController::resetPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/OnlyIdResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/active": {
            "put": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户激活",
                "operationId": "App\\Http\\Controllers\\Auth\\LoginController::active",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserActiveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/OnlyIdResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "鉴权"
                ],
                "summary": "用户注册",
                "operationId": "App\\Http\\Controllers\\Auth\\RegisterController::register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "注册成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/OnlyIdResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/verify-code": {
            "post": {
                "tags": [
                    "鉴权"
                ],
                "summary": "发送短信验证码",
                "operationId": "App\\Http\\Controllers\\Auth\\VerifyCodeController::send",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "发送成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/maintenance-statistics": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "被监控特种设备维保情况",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::maintenanceStatistics",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/SpecialmaterialMaintenanceStatisticsResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/safety-training": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "被监控企业安全培训情况(累计)  安全培训",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::safetyTraining",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/SpecialmaterialMonthStatisticsResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/enterprise-detail": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "企业详情",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::enterpriseDetail",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/EnterpriseSpecialMaterialStaticResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/special-percentage": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "被监控特种设备类型占比",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::specialPercentage",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/SpecialmaterialTypercentageResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/emergency-statistics": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "被监控企业应急演练情况(累计)",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::emergencyStatistics",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/SpecialmaterialMonthStatisticsResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/danger-statistics": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "被监控企业隐患排查情况(累计)",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::dangerStatistics",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "$ref": "/api/swagger/mm.json#/definitions/SpecialmaterialMonthStatisticsResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chongqing-board/enterprise-statistics": {
            "get": {
                "tags": [
                    "重庆看板"
                ],
                "summary": "企业统计",
                "operationId": "App\\Http\\Controllers\\Board\\ChongqingBoardController::mapStatistics",
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ChongqingEnterpriseStatisticsResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/{id}/history-items": {
            "get": {
                "tags": [
                    "处理进度"
                ],
                "summary": "时间轴",
                "operationId": "App\\Http\\Controllers\\Bpm\\HistoryItemController::historyItems",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "流程实例ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "待办任务ID(待办时必填)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WfHistoryResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/{id}/info-items": {
            "get": {
                "tags": [
                    "处理进度"
                ],
                "summary": "信息项",
                "operationId": "App\\Http\\Controllers\\Bpm\\HistoryItemController::infoItems",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "任务ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/WfInfoItemDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/node/start-nodes": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "初始节点",
                "operationId": "App\\Http\\Controllers\\Bpm\\NodeController::startNodes",
                "parameters": [
                    {
                        "name": "biz_code",
                        "in": "path",
                        "description": "产品线标识（1-设备 2-消耗品 3-质量管理）",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "cooperate_enterprise_id",
                        "in": "path",
                        "description": "合作企业ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/StartNodeDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/node/detail/{id}": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "节点详情",
                "operationId": "App\\Http\\Controllers\\Bpm\\NodeController::detail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": 111
                        }
                    },
                    {
                        "name": "material_ins_id",
                        "in": "query",
                        "description": "物资实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 111
                        }
                    },
                    {
                        "name": "operation_id",
                        "in": "query",
                        "description": "节点操作ID（根据操作项查询开始节点详情必传）",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/NodeDetailDTO"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/node/{id}/materials": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "初始节点的物资列表（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\NodeController::materials",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmStartNodeMaterialsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/MaterialDefPaginatorResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/node/{id}/operation-items": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "查询操作项（物资组模板与节点操作关联时）",
                "operationId": "App\\Http\\Controllers\\Bpm\\NodeController::operationItems",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "任务ID（初始节点操作时无task_id，待办操作时task_id必传，后端用于区分版本）",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/NodeOperationDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/submitted": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "我的上报（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\RecordController::submitted",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmSubmittedListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "我的上报信息",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ProcessedOrSubmittedResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/processed": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "我的处理（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\RecordController::processed",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmProcessedListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "我的处理信息",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/ProcessedOrSubmittedResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/history": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "历史纪录（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\RecordController::history",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmHistoryListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "我的处理信息",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/HistoryRecordResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/my": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "我的待办列表（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::userTasks",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmUserTaskListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/UserTaskListResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/all": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "企业待办列表（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::enterpriseTasks",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmEnterpriseTaskListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/EnterpriseTaskListResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/detail/{id}": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "待办详情",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::detail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "待办任务ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "operation_id",
                        "in": "query",
                        "description": "节点操作ID（根据操作项查询开始节点详情必传）",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/TaskDetailDTO"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/assign": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "任务高级指派",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::assign",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmTaskAssignRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/assignees": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "高级指派人员",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::assignees",
                "parameters": [
                    {
                        "name": "node_id",
                        "in": "query",
                        "description": "节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "任务ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/BpmNodeAssigneeDTO"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/task/operations/{id}/assignors": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "任务指派人",
                "operationId": "App\\Http\\Controllers\\Bpm\\TaskController::assignors",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "操作ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "material_ins_id",
                        "in": "query",
                        "description": "物资实例ID",
                        "required": true,
                        "schema": {
                            "type": "int",
                            "example": 1
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "description": "节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "任务ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WfTaskAssignorDTO"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/nodes-operation": {
            "post": {
                "tags": [
                    "流程管理"
                ],
                "summary": "节点提交",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::nodeOperation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BpmNodeOperationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "workflow_instance_id": {
                                                            "description": "实例ID",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/start-check": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "判断当前场景下当前物资是否可以发起流程，针对串行场景",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::startCheck",
                "parameters": [
                    {
                        "name": "material_ins_id",
                        "in": "query",
                        "description": "物资实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 111
                        }
                    },
                    {
                        "name": "workflow_node_id",
                        "in": "query",
                        "description": "流程节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/WfStartCheckResponse"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/node-transfer/match": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "节点转接操作匹配查询",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::nodeTransferMatch",
                "parameters": [
                    {
                        "name": "material_ins_id",
                        "in": "query",
                        "description": "物资（实例）ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    },
                    {
                        "name": "transfer_node_id",
                        "in": "query",
                        "description": "转接流程节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    },
                    {
                        "name": "current_node_id",
                        "in": "query",
                        "description": "当前流程节点ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "待办ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    },
                    {
                        "name": "transfer_node_operation_id",
                        "in": "query",
                        "description": "转接流程节点操作ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "111"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/WfNodeTransferMatchResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/assignees": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "流程处理人（分页）",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::assignees",
                "parameters": [
                    {
                        "name": "cooperate_enterprise_id",
                        "in": "query",
                        "description": "合作企业ID",
                        "required": false,
                        "schema": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "wf_inst_id",
                        "in": "query",
                        "description": "流程实例ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "待办ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "当前页码",
                        "required": false,
                        "schema": {
                            "type": "int",
                            "default": "1"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "每页数量",
                        "required": false,
                        "schema": {
                            "type": "int",
                            "default": "10"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WfInsAssigneeListResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/v1/assignees": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "流程处理人（本企业待办+跨企业待办）",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::cooperateAssignees",
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "query",
                        "description": "待办ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "wf_inst_id",
                        "in": "query",
                        "description": "流程ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "当前页码",
                        "required": false,
                        "schema": {
                            "type": "int",
                            "default": "1"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "每页数量",
                        "required": false,
                        "schema": {
                            "type": "int",
                            "default": "10"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/WfInsCooperateAssigneesResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/ins/{id}": {
            "delete": {
                "tags": [
                    "流程管理"
                ],
                "summary": "删除流程实例",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "流程实例ID(多个ID之间通过,分割)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "11"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wf/config/started-wfs": {
            "get": {
                "tags": [
                    "流程管理"
                ],
                "summary": "已经启用的流程",
                "operationId": "App\\Http\\Controllers\\Bpm\\WorkflowController::startedWfs",
                "parameters": [
                    {
                        "name": "cooperate_enterprise_id",
                        "in": "query",
                        "description": "合作企业ID",
                        "required": false,
                        "schema": {
                            "type": "int"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/StartedWfDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/captcha": {
            "get": {
                "tags": [
                    "开放权限"
                ],
                "summary": "图形验证码",
                "operationId": "App\\Http\\Controllers\\CaptchaController::show",
                "responses": {
                    "200": {
                        "description": "操作成功，返回ID和验证码base64编码格式图片",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/CaptchaResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/common/all-user-id-and-realname": {
            "get": {
                "tags": [
                    "公用接口"
                ],
                "summary": "获取企业全部用户（下拉框使用）",
                "operationId": "App\\Http\\Controllers\\CommonController::allUserIdAndRealname",
                "parameters": [
                    {
                        "name": "cooperate_enterprise_id",
                        "in": "query",
                        "description": "合作企业ID",
                        "required": false,
                        "schema": {
                            "type": "int"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AllUserIdAndRealnameResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/common/upload-init": {
            "get": {
                "tags": [
                    "公用接口"
                ],
                "summary": "文件上传初始化",
                "operationId": "App\\Http\\Controllers\\CommonController::uploadInit",
                "responses": {
                    "200": {
                        "description": "文件上传Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "upload_token": {
                                                            "description": "文件上传Token",
                                                            "type": "string"
                                                        },
                                                        "upload_url": {
                                                            "description": "文件上传地址",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/common/locations": {
            "get": {
                "tags": [
                    "公用接口"
                ],
                "summary": "地址服务",
                "operationId": "App\\Http\\Controllers\\CommonController::locations",
                "parameters": [
                    {
                        "name": "parent_code",
                        "in": "query",
                        "description": "父级地址码,查询level1的数据，parent_code传1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "文件上传Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "/api/swagger/address.json#/definitions/AddressResDTO"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/common/organizations-trees": {
            "get": {
                "tags": [
                    "公用接口"
                ],
                "summary": "获取组织架构树",
                "operationId": "App\\Http\\Controllers\\CommonController::organizationsTrees",
                "parameters": [
                    {
                        "name": "cooperate_enterprise_id",
                        "in": "query",
                        "description": "合作企业ID",
                        "required": false,
                        "schema": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "with_default_node",
                        "in": "query",
                        "description": "是否带上默认节点，即默认机构 不传和传0不带，传1或者大于1的展示",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CommonOrganizationTreeResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/common/download-templates/{type}": {
            "get": {
                "tags": [
                    "公用接口"
                ],
                "summary": "模板下载",
                "operationId": "App\\Http\\Controllers\\CommonController::downloadTemplates",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "trust云供应链平台授权书,dictionary企业字典,users用户导入模板,organization组织机构导入模板,material点检表对象导入模板,form点检表导入模板",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "url": {
                                                            "description": "下载地址",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-rules/detail": {
            "post": {
                "tags": [
                    "数据权限"
                ],
                "summary": "获取数据权限详情",
                "operationId": "App\\Http\\Controllers\\DataRule\\DateRuleController::detail",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataRuleDetailRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "/api/swagger/data-rule.json#/definitions/DataRuleResDTO"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-rules": {
            "post": {
                "tags": [
                    "数据权限"
                ],
                "summary": "编辑数据权限",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "enterprise_id不必",
                                "$ref": "/api/swagger/data-rule.json#/definitions/DataRuleBaseDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功返回",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/chart": {
            "post": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "数据查询",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::chartData",
                "requestBody": {
                    "request": "request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DashboardChartDataQueryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardChartDataQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/reports/{report_id}/query-condition": {
            "get": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "仪表盘中报表的查询条件",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::reportQueryConditions",
                "parameters": [
                    {
                        "name": "report_id",
                        "in": "path",
                        "description": "报表ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "report_type",
                        "in": "query",
                        "description": "报表类型",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ReportQueryConditionsResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard": {
            "get": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "仪表盘列表",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::lists",
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardsQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/status-data": {
            "post": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "状态栏数据",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::statusData",
                "requestBody": {
                    "request": "request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DashboardStatusDataQueryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardStatusDataQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/task-data": {
            "post": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "任务栏数据",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::taskData",
                "requestBody": {
                    "request": "request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DashboardTaskDataQueryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardTaskDataQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/components/{id}/text": {
            "get": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "组件文本数据查询",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::componentTextData",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "组件ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardTextDataQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/workflow-status": {
            "get": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "流程状态查询",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::workflowStatus",
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardWorkflowStatusQueryResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/{id}": {
            "get": {
                "tags": [
                    "数据仪表盘"
                ],
                "summary": "仪表盘详情",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DashboardController::detail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "仪表盘ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/DashboardDetailResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dictionary/definitions/config/{id}": {
            "delete": {
                "tags": [
                    "企业字典"
                ],
                "summary": "删除配置项",
                "operationId": "App\\Http\\Controllers\\Enterprise\\DictionaryController::delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "项目ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
[...]
